.about__title {
    height: 130vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    span {
        text-align: center;
        text-transform: uppercase;
        font-weight: 300;
        line-height: 1.5;
        font-size: 40px;

        em {
            color: var(--pointColor);
        }
    }

    p {
        margin-top: 45px;
        font-size: 20px;
        font-family: var(--fontN);
        line-height: 1.5;
        text-align: center;
    }
}

.about__poto {
    display: flex;
    gap: 10rem;
    overflow-x: hidden;

    .poto__img {

        img {
            transition: filter 0.3s ease;
            width: 500px;
            height: 650px;
            object-fit: cover;
            border-radius: 30px;
        }
    }
}