@font-face {
    font-family: 'PP Eiko';
    src: url('../fonts/PPEiko/PPEiko-LightItalic.woff2') format('woff2'),
        url('../fonts/PPEiko/PPEiko-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'PP Eiko';
    src: url('../fonts/PPEiko/PPEiko-BlackItalic.woff2') format('woff2'),
        url('../fonts/PPEiko/PPEiko-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'PP Eiko';
    src: url('../fonts/PPEiko/PPEiko-Heavy.woff2') format('woff2'),
        url('../fonts/PPEiko/PPEiko-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PP Eiko';
    src: url('../fonts/PPEiko/PPEiko-Medium.woff2') format('woff2'),
        url('../fonts/PPEiko/PPEiko-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PP Eiko';
    src: url('../fonts/PPEiko/PPEiko-Thin.woff2') format('woff2'),
        url('../fonts/PPEiko/PPEiko-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gmarket Sans';
    src: url('../fonts/Gmarket/GmarketSansBold.woff2') format('woff2'),
        url('../fonts/Gmarket/GmarketSansBold.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gmarket Sans';
    src: url('../fonts/Gmarket/GmarketSansLight.woff2') format('woff2'),
        url('../fonts/Gmarket/GmarketSansLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gmarket Sans';
    src: url('../fonts/Gmarket/GmarketSansMedium.woff2') format('woff2'),
        url('../fonts/Gmarket/GmarketSansMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans KR';
    src: url('../fonts/Noto/NotoSansKR-Bold.woff2') format('woff2'),
        url('../fonts/Noto/NotoSansKR-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans KR';
    src: url('../fonts/Noto/NotoSansKR-Black.woff2') format('woff2'),
        url('../fonts/Noto/NotoSansKR-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans KR';
    src: url('../fonts/Noto/NotoSansKR-ExtraBold.woff2') format('woff2'),
        url('../fonts/Noto/NotoSansKR-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans KR';
    src: url('../fonts/Noto/NotoSansKR-ExtraLight.woff2') format('woff2'),
        url('../fonts/Noto/NotoSansKR-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans KR';
    src: url('../fonts/Noto/NotoSansKR-Light.woff2') format('woff2'),
        url('../fonts/Noto/NotoSansKR-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans KR';
    src: url('../fonts/Noto/NotoSansKR-Medium.woff2') format('woff2'),
        url('../fonts/Noto/NotoSansKR-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans KR';
    src: url('../fonts/Noto/NotoSansKR-Regular.woff2') format('woff2'),
        url('../fonts/Noto/NotoSansKR-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans KR';
    src: url('../fonts/Noto/NotoSansKR-SemiBold.woff2') format('woff2'),
        url('../fonts/Noto/NotoSansKR-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans KR';
    src: url('../fonts/Noto/NotoSansKR-Thin.woff2') format('woff2'),
        url('../fonts/Noto/NotoSansKR-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}