@font-face {
    font-family: 'Neckless Starways';
    src: url('NecklessStarwaysRegular.woff2') format('woff2'),
        url('NecklessStarwaysRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

