@font-face {
    font-family: 'Go Long';
    src: url('GoLong.woff2') format('woff2'),
        url('GoLong.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

