@import url('https://websfont.github.io/websfont/websfont.css');
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


@font-face {
    font-family: 'Gmarket Sans';
    src: url('../../fonts/gmarket/GmarketSansTTFBold.woff2') format('woff2'),
        url('../../fonts/gmarket/GmarketSansTTFBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gmarket Sans';
    src: url('../../fonts/gmarket/GmarketSansTTFMedium.woff2') format('woff2'),
        url('../../fonts/gmarket/GmarketSansTTFMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gmarket Sans';
    src: url('../../fonts/gmarket/GmarketSansTTFLight.woff2') format('woff2'),
        url('../../fonts/gmarket/GmarketSansTTFLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PP Editorial New';
    src: url('../../fonts/edi/PPEditorialNew-Italic.woff2') format('woff2'),
        url('../../fonts/edi/PPEditorialNew-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'PP Editorial New';
    src: url('../../fonts/edi/PPEditorialNew-Ultrabold.woff2') format('woff2'),
        url('../../fonts/edi/PPEditorialNew-Ultrabold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PP Editorial New';
    src: url('../../fonts/edi/PPEditorialNew-Regular.woff2') format('woff2'),
        url('../../fonts/edi/PPEditorialNew-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PP Editorial New';
    src: url('../../fonts/edi/PPEditorialNew-UltraboldItalic.woff2') format('woff2'),
        url('../../fonts/edi/PPEditorialNew-UltraboldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'PP Editorial New';
    src: url('../../fonts/edi/PPEditorialNew-Ultralight.woff2') format('woff2'),
        url('../../fonts/edi/PPEditorialNew-Ultralight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PP Editorial New';
    src: url('../../fonts/edi/PPEditorialNew-UltralightItalic.woff2') format('woff2'),
        url('../../fonts/edi/PPEditorialNew-UltralightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'PP Neue World Condensed';
    src: url('../../fonts/neue/PPNeueWorld-CondensedRegular.woff2') format('woff2'),
        url('../../fonts/neue/PPNeueWorld-CondensedRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PP Neue World';
    src: url('../../fonts/neue/PPNeueWorld-Regular.woff2') format('woff2'),
        url('../../fonts/neue/PPNeueWorld-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PP Neue World Extended';
    src: url('../../fonts/neue/PPNeueWorld-ExtendedThin.woff2') format('woff2'),
        url('../../fonts/neue/PPNeueWorld-ExtendedThin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PP Neue World Super Cond';
    src: url('../../fonts/neue/PPNeueWorld-SuperCondensedLight.woff2') format('woff2'),
        url('../../fonts/neue/PPNeueWorld-SuperCondensedLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PP Neue World Semi Cond Ulbold';
    src: url('../../fonts/neue/PPNeueWorld-SemiCondensedUltrabold.woff2') format('woff2'),
        url('../../fonts/neue/PPNeueWorld-SemiCondensedUltrabold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PP Neue World Semi Extd';
    src: url('../../fonts/neue/PPNeueWorld-SemiExtendedBlack.woff2') format('woff2'),
        url('../../fonts/neue/PPNeueWorld-SemiExtendedBlack.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PP Neue World';
    src: url('../../fonts/neue/PPNeueWorld-Thin.woff2') format('woff2'),
        url('../../fonts/neue/PPNeueWorld-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HouseGothic';
    src: url('../../fonts/house/HouseGothicBoldFour.woff2') format('woff2'),
        url('../../fonts/house/HouseGothicBoldFour.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "PartizenoRegular";
    src: url("../../fonts/PartizenoRegular.woff2") format("woff2"),
        url("../../fonts/PartizenoRegular.woff") format("woff");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "NecklessStarwaysRegular";
    src: url("../../fonts/neck/NecklessStarwaysRegular.woff2") format("woff2"),
        url("../../fonts/neck/NecklessStarwaysRegular.woff") format("woff");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "GoLong";
    src: url("../../fonts/GoLong.woff2") format("woff2"),
        url("../../fonts/GoLong.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: "Quicksilver";
    src: url("../../fonts/Quicksilver.woff2") format("woff2"),
        url("../../fonts/Quicksilver.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: "Quicksilver-Italic";
    src: url("../../fonts/Quicksilver-Italic.woff2") format("woff2"),
        url("../../fonts/Quicksilver-Italic.woff") format("woff");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Bouncy Black PERSONAL USE ONLY';
    src: url('../../fonts/Bouncy-BlackPERSONALUSEONLY.woff2') format('woff2'),
        url('../../fonts/Bouncy-BlackPERSONALUSEONLY.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bouncy PERSONAL USE ONLY';
    src: url('../../fonts/Bouncy-PERSONALUSEONLY.woff2') format('woff2'),
        url('../../fonts/Bouncy-PERSONALUSEONLY.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bouncy Thin PERSONAL USE ONLY';
    src: url('../../fonts/Bouncy-ThinPERSONALUSEONLY.woff2') format('woff2'),
        url('../../fonts/Bouncy-ThinPERSONALUSEONLY.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TakCubit';
    src: url('../../fonts/TakCubit.woff2') format('woff2'),
        url('../../fonts/TakCubit.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Coolvetica Compressed Hv';
    src: url('../../fonts/colve/Coolvetica../../fonts/colve/CompressedHv-Regular.woff2') format('woff2'),
        url('../../fonts/colve/CoolveticaCompressedHv-Regular.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Coolvetica Crammed Rg';
    src: url('../../fonts/colve/CoolveticaCrammedRg-Regular.woff2') format('woff2'),
        url('../../fonts/colve/CoolveticaCrammedRg-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Coolvetica Condensed Rg';
    src: url('../../fonts/colve/CoolveticaCondensedRg-Regular.woff2') format('woff2'),
        url('../../fonts/colve/CoolveticaCondensedRg-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Coolvetica Rg';
    src: url('../../fonts/colve/CoolveticaRg-Regular.woff2') format('woff2'),
        url('../../fonts/colve/CoolveticaRg-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Coolvetica Rg';
    src: url('../../fonts/colve/CoolveticaRg-Italic.woff2') format('woff2'),
        url('../../fonts/colve/CoolveticaRg-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "SwisspoTrial-SemiCondMedTall";
    src: url("../../fonts/SwisspoTrial-SemiCondMedTall.woff2") format("woff2");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "SwisspoTrial-CondensedBold";
    src: url("../../fonts/SwisspoTrial-CondensedBold.woff2") format("woff2");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "SwisspoTrial-CondensedLight";
    src: url("../../fonts/SwisspoTrial-CondensedLight.woff2") format("woff2");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "SwisspoTrial-ThinTall";
    src: url("../../fonts/SwisspoTrial-ThinTall.woff2") format("woff2");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}