body {
    overflow-y: hidden;
}

.parallax__progress progress {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    width: 100%;
    height: 4px;
    border: 0;
    appearance: none;
    background: transparent;
}

.parallax__progress progress::-webkit-progress-bar {
    background: transparent;
}

progress::-webkit-progress-value {
    background-color: #fff;
    background-attachment: fixed;
}

progress::-moz-progress-bar {
    background-color: #fff;
    background-attachment: fixed;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    position: relative;
}

svg {
    display: none;
}

#matter-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    /* overflow: hidden; */
}

#section1 {
    width: 100%;
    height: 100vh;
    background-color: #d7d3d0;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    font-family: "PartizenoRegular";
}

#section1 .text {
    margin-top: 10vh;
    text-align: center;
}

#section1 .text h1 {
    margin-top: 4rem;
    margin-bottom: 1rem;
    font-size: 4vw;
}

#section1 .text h1 .split {
    opacity: 0;
}

#section1 .text p {
    font-size: 1vw;
    width: 100%;
    margin-inline-start: auto;
    margin-inline-end: auto;
    font-family: "heirOfLight";
    line-height: 1.5;
}

/* section2 */
#section2 {
    height: 300vh;
    background-color: #10376b;
    position: relative;
    overflow: hidden;
    padding: 0 5%;
}

#section2 .title {
    font-family: "SwisspoTrial-CondensedLight";
    font-size: 30vw;
    color: #fff;
    text-align: right;
    line-height: 1;
}

#section2 .title.outline {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2000;
}

#section2 .title .front {
    -webkit-text-stroke-width: 2px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-color: #fff;
}

#section2 .about1 {
    display: flex;
    justify-content: space-between;
    color: #fff;
    position: relative;
    z-index: 2100;
}

#section2 .about1 h2 {
    width: 30%;
    position: relative;
    font-size: 4vw;
    line-height: 1.2;
    font-family: "gmarket";
}

#section2 .about1 h2::before {
    content: "01";
    position: absolute;
    left: 0;
    top: -44px;
    font-size: 30px;
    font-family: "gmarket";
}

#section2 .about1 .about__text {
    width: 55%;
    text-align: left;
    font-family: "gowunBatang";
}

#section2 .about1 .about__text p {
    margin-bottom: 10px;
}

#section2 .about1 .about__text .img {
    max-width: 460px;
    height: 600px;
    background-color: #ccc;
    margin-top: 20px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}

#section2 .about1 .about__text .img .front {
    background-image: url(../img/face01.jpg);
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
}

#section2 .about1 .about__text .img .back {
    background-image: url(../img/face02.jpg);
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

#section2 .about1 .about__text .skill {
    width: 100%;
    margin-top: 40px;
    background-color: #10376b;
}

#section2 .about1 .about__text .skill ul {
    border-top: 1px solid #fff;
    padding-top: 5px;
    margin-top: 15px;
}

#section2 .about1 .about__text .skill li {
    display: flex;
    justify-content: space-between;
    padding: 2px 10px;
}

#section2 .about1 .about__text .skill li span:nth-child(1) {
    text-transform: uppercase;
    font-weight: bold;
    flex: 1;
}

#section2 .about1 .about__text .skill li span:nth-child(2) {
    flex: 2;
}

#section2 .about1 .about__text .skill li span:nth-child(3) {
    flex: 1;
    text-align: right;
}

#section2 .bgWrap {
    position: relative;
    z-index: 1500;
}

#section2 .bgWrap .bg {
    width: 100%;
    height: 200vh;
    background-color: #10376b;
    position: absolute;
}

#section3 {
    height: 100vh;
    background-color: #e0dcd8;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}


#section3 .two__intro .two__number h3 {
    font-size: 70vw;
    line-height: 0.9;
    color: #fff;
    font-family: "SwisspoTrial-CondensedBold";
    text-transform: uppercase;
    letter-spacing: 1vw;
    color: #d9d5d1;
}

#section3 .botLeft {
    position: absolute;
    left: 5%;
    bottom: 5%;
    z-index: 1000;
    font-family: "PartizenoRegular";
    font-size: 6vw;
    line-height: 1;
}

#section3 .topRight {
    position: absolute;
    right: 5%;
    top: 5%;
    width: 34vw;
}

#section3 .topRight p {
    margin-bottom: 10px;
    font-family: "gyeonggiBatang";
    font-weight: 400;
}

#section3 .topRight p strong {
    font-weight: 900;
}

#section4 {
    background-color: #0d59d0;
    position: relative;
    height: 300vh;
}

#section4 .project__title {
    position: relative;
    z-index: 1000;
    font-size: 17vw;
    font-family: "SwisspoTrial-CondensedBold";
    line-height: 1;
    color: #fff;
    font-weight: 900;
    padding: 60px 7%;
    text-align: center;
}

#section4 .project__title .space {
    text-align: center;
    width: 8.1vw;
    display: inline-block;
    font-size: 10vw;
}

#section4 .project__title.outline {
    position: absolute;
    z-index: 2000;
    top: 0;
}

#section4 .project__title.outline .front {
    -webkit-text-stroke: 2px #fff;
    -webkit-text-fill-color: transparent;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

#section4 .project__title .textDesc {
    font-size: 1rem;
    color: var(--white);
    display: flex;
    justify-content: space-between;
    padding-top: 3%;
    align-items: start;
    text-align: left;
}

#section4 .project__title .textDesc .left {
    width: 40%;
    font-family: "PartizenoRegular";
    font-size: 40px;
    line-height: 1;
    letter-spacing: 2px;
}

#section4 .project__title .textDesc .right {
    width: 40%;
    font-family: "gyeonggiBatang";
    word-break: keep-all;
    line-height: 1.4;
    font-weight: normal;
}

#section4 .project__title .textDesc .right strong {
    font-weight: bold;
    font-size: 1.2rem;
}

#section4 .project__title .textDesc .right a {
    display: inline-block;
    background-color: #fff;
    margin-top: 10px;
    color: #000;
    font-family: "gyeonggiBatang";
    font-size: 1rem;
    padding: 6px 15px;
    border-radius: 30px;
    pointer-events: auto;
    position: relative;
    z-index: 3000;
    transition: all 0.3s;
}

#section4 .project__title .textDesc .right a:hover {
    background-color: #000;
    color: #fff;
}

#section4 .bgWrap {
    position: relative;
    z-index: 1500;
}

#section4 .bgWrap .bg {
    width: 100%;
    background-color: #0d59d0;
    padding: 0 5vw;
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    height: 230vh;
    position: absolute;
    z-index: 500;
}

#section4 .project__img {
    width: 100%;
    display: flex;
    padding-top: 70vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all 0.3s;
    position: relative;
    z-index: 2000;
    pointer-events: none;
}

#section4 .project__img img {
    width: 30vw;
    padding-bottom: 4vh;
}

#section5 {
    background-color: #1F023C;
    position: relative;
    height: 280vh;
}

#section5 .project__title {
    position: relative;
    z-index: 1000;
    font-size: 17vw;
    font-family: "SwisspoTrial-CondensedBold";
    line-height: 1;
    color: #fff;
    font-weight: 900;
    padding: 60px 6%;
    text-align: center;
}

#section5 .project__title .space {
    text-align: center;
    width: 5vw;
    display: inline-block;
    font-size: 10vw;
}

#section5 .project__title.outline {
    position: absolute;
    z-index: 2000;
    top: 0;
}

#section5 .project__title.outline .front {
    -webkit-text-stroke: 2px #fff;
    -webkit-text-fill-color: transparent;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

#section5 .project__title .textDesc {
    font-size: 1rem;
    color: var(--white);
    display: flex;
    justify-content: space-between;
    padding-top: 3%;
    align-items: start;
    text-align: left;
}

#section5 .project__title .textDesc .left {
    width: 40%;
    font-family: "PartizenoRegular";
    font-size: 40px;
    line-height: 1;
    letter-spacing: 2px;
}

#section5 .project__title .textDesc .right {
    width: 40%;
    font-family: "gyeonggiBatang";
    word-break: keep-all;
    line-height: 1.4;
    font-weight: normal;
}


#section5 .project__title .textDesc .right strong {
    font-weight: bold;
}

#section5 .project__title .textDesc .right a {
    display: inline-block;
    background-color: #fff;
    margin-top: 10px;
    color: #000;
    font-family: "gyeonggiBatang";
    font-size: 1rem;
    padding: 6px 15px;
    border-radius: 30px;
    pointer-events: auto;
}

#section5 .bgWrap {
    position: relative;
    z-index: 1500;
}

#section5 .bgWrap .bg {
    width: 100%;
    background-color: #1F023C;
    padding: 0 5vw;
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    height: 230vh;
    position: absolute;
}

#section5 .project__img {
    width: 100%;
    display: flex;
    padding-top: 70vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all 0.3s;
    position: relative;
    z-index: 2000;
    pointer-events: none;
}

#section5 .project__img img {
    width: 30vw;
    padding-bottom: 4vh;
}

/* =========================== */

#section6 {
    background: #F7901E;
    position: relative;
    height: 250vh;
}

#section6 .project__title {
    position: relative;
    z-index: 1000;
    font-size: 16.6vw;
    font-family: "SwisspoTrial-CondensedBold";
    line-height: 1;
    color: #fff;
    font-weight: 900;
    padding: 60px 7%;
    text-align: center;
}

#section6 .project__title .space {
    text-align: center;
    width: 8.1vw;
    display: inline-block;
    font-size: 10vw;
}

#section6 .project__title.outline {
    position: absolute;
    z-index: 2000;
    top: 0;
}

#section6 .project__title.outline .front {
    -webkit-text-stroke: 2px #fff;
    -webkit-text-fill-color: transparent;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

#section6 .project__title .textDesc {
    font-size: 1rem;
    color: var(--white);
    display: flex;
    justify-content: space-between;
    padding-top: 3%;
    align-items: start;
    text-align: left;
}

#section6 .project__title .textDesc .left {
    width: 40%;
    font-family: "PartizenoRegular";
    font-size: 40px;
    line-height: 1;
    letter-spacing: 2px;
}

#section6 .project__title .textDesc .right {
    width: 40%;
    font-family: "gyeonggiBatang";
    word-break: keep-all;
    line-height: 1.4;
    font-weight: normal;
}

#section6 .project__title .textDesc .right a {
    display: inline-block;
    background-color: #fff;
    margin-top: 10px;
    color: #000;
    font-family: "gyeonggiBatang";
    font-size: 1rem;
    padding: 6px 15px;
    border-radius: 30px;
    pointer-events: auto;
}

#section6 .bgWrap {
    position: relative;
    z-index: 1500;
}

#section6 .bgWrap .bg {
    width: 100%;
    background: #F7901E;
    padding: 0 5vw;
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    height: 200vh;
    position: absolute;
}

#section6 .project__img {
    width: 100%;
    display: flex;
    padding-top: 70vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all 0.3s;
    position: relative;
    z-index: 2000;
    pointer-events: none;
}

#section6 .project__img img {
    width: 30vw;
    padding-bottom: 4vh;
}

#section7 {
    height: 100vh;
}