body {
    overflow-y: hidden;
    overflow-x: hidden;
}

.parallax__progress progress {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    width: 100%;
    height: 4px;
    border: 0;
    appearance: none;
    background: transparent;
}

.parallax__progress progress::-webkit-progress-bar {
    background: transparent;
}

progress::-webkit-progress-value {
    background-color: red;
    background-attachment: fixed;
}

progress::-moz-progress-bar {
    background-color: red;
    background-attachment: fixed;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    position: relative;
}

svg {
    display: none;
}

#matter-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    /* overflow: hidden; */
}

#section1 {
    width: 100%;
    height: 100vh;
    background-color: #d7d3d0;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    font-family: "PartizenoRegular";
}

#section1 .text {
    padding: 2rem;
    margin-top: 10vh;
    text-align: center;
}

#section1 .text h1 {
    margin-top: 4rem;
    margin-bottom: 1rem;
    font-size: 4vw;
}

#section1 .text h1 .split {
    opacity: 0;
}

#section1 .text p {
    font-size: 16px;
    width: 100%;
    margin-inline-start: auto;
    margin-inline-end: auto;
    font-family: "heirOfLight";
    line-height: 1.5;
}

/* section2 */
#section2 {
    background-color: #10376b;
    position: relative;
    overflow: hidden;
    padding-bottom: 30vh;
}

#section2 .title {
    font-family: "SwisspoTrial-CondensedLight";
    font-size: 30vw;
    color: #fff;
    text-align: right;
    padding-right: 5%;
}

#section2 .about1 {
    display: flex;
    justify-content: space-between;
    color: #fff;
}

#section2 .about1 h2 {
    width: 20%;
    position: relative;
    font-size: 40px;
    line-height: 1.2;
    font-family: "gmarket";
}

#section2 .about1 h2::before {
    content: "01";
    position: absolute;
    left: 0;
    top: -44px;
    font-size: 30px;
    font-family: "gmarket";
}

#section2 .about1 .about__text {
    width: 60%;
    text-align: left;
    font-family: "nanumSquareNeo";
}

#section2 .about1 .about__text p {
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 1.6;
}

#section2 .about1 .about__text .img {
    max-width: 460px;
    height: 600px;
    background-color: #ccc;
    margin-top: 5%;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}

#section2 .about1 .about__text .img .front {
    background-image: url(../img/face01.jpg);
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
}

#section2 .about1 .about__text .img .back {
    background-image: url(../img/face02.jpg);
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

#section2 .about1 .about__text .skill {
    width: 100%;
    margin-top: 40px;
}

#section2 .about1 .about__text .skill ul {
    border-top: 1px solid #fff;
    padding-top: 5px;
    margin-top: 15px;
}

#section2 .about1 .about__text .skill li {
    display: flex;
    justify-content: space-between;
    padding: 2px 0;
}

#section2 .about1 .about__text .skill li span:nth-child(1) {
    text-transform: uppercase;
    font-weight: bold;
    flex: 1;
    font-size: 14px;
}

#section2 .about1 .about__text .skill li span:nth-child(2) {
    flex: 2;
}

#section2 .about1 .about__text .skill li span:nth-child(3) {
    flex: 1;
    text-align: right;
    font-weight: 300;
}

#section3 {
    height: 100vh;
    background-color: #e0dcd8;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}


#section3 .two__intro .two__number h3 {
    font-size: 70vw;
    line-height: 0.9;
    color: #fff;
    font-family: "SwisspoTrial-CondensedBold";
    text-transform: uppercase;
    letter-spacing: 1vw;
    color: #d9d5d1;
}

#section3 .botLeft {
    position: absolute;
    left: 5%;
    bottom: 5%;
    z-index: 1000;
    font-family: "PartizenoRegular";
    font-size: 6vw;
    line-height: 1;
}

#section3 .topRight {
    position: absolute;
    right: 5%;
    top: 5%;
    width: 34vw;
}

#section3 .topRight p {
    margin-bottom: 10px;
    font-family: "nanumSquareNeo";
    font-weight: 400;
}

#section3 .topRight p strong {
    font-weight: 900;
}

#section4 {
    background-color: #0d59d0;
    position: relative;
    height: 290vh;
}

#section4 .project__title {
    position: relative;
    z-index: 1000;
    font-size: 19.77vw;
    font-family: "SwisspoTrial-CondensedBold";
    line-height: 0.8;
    color: #fff;
    font-weight: 900;
    padding: 60px 2%;
    text-align: center;
}

#section4 .project__title .space {
    text-align: center;
    width: 8.1vw;
    display: inline-block;
    font-size: 10vw;
}

#section4 .project__title.outline {
    position: absolute;
    z-index: 2000;
    top: 0;
}

#section4 .project__title.outline .front {
    -webkit-text-stroke: 2px #fff;
    -webkit-text-fill-color: transparent;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

#section4 .project__title .textDesc {
    font-size: 1rem;
    color: var(--white);
    display: flex;
    justify-content: space-between;
    padding-top: 1.5%;
    align-items: start;
    text-align: left;
}

#section4 .project__title .textDesc .left {
    width: 16%;
    font-family: "PartizenoRegular";
    font-size: 40px;
    line-height: 1;
    letter-spacing: 2px;
    font-weight: normal;
    padding-left: 40px;
}

#section4 .project__title .textDesc .right {
    width: 28%;
    font-family: "nanumSquareNeo";
    word-break: keep-all;
    line-height: 1.4;
    font-weight: normal;
    padding-right: 2%;
}

#section4 .project__title .textDesc .right strong {
    font-weight: bold;
    font-size: 1rem;
}

#section4 .project__title .textDesc .right a {
    display: inline-block;
    background-color: #fff;
    margin-top: 10px;
    color: #000;
    font-family: "nanumSquareNeo";
    font-size: 1rem;
    padding: 6px 15px;
    border-radius: 30px;
    pointer-events: auto;
    position: relative;
    z-index: 3000;
    transition: all 0.3s;
}

#section4 .project__title .textDesc .right a:hover {
    background-color: #000;
    color: #fff;
}

#section4 .bgWrap {
    position: relative;
    z-index: 1500;
}

#section4 .bgWrap .bg {
    width: 100vw;
    background-color: #0d59d0;
    display: flex;
    height: 220vh;
    justify-content: space-between;
    margin-bottom: 40px;
    position: absolute;
}

#section4 .project__img {
    width: 100%;
    display: flex;
    padding-top: 36rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all 0.3s;
    position: relative;
    z-index: 2000;
    pointer-events: none;
}

#section4 .project__img img {
    width: 26vw;
    padding-bottom: 40px;
}

#section5 {
    background-color: #1F023C;
    position: relative;
    height: 270vh;
}

#section5 .project__title {
    position: relative;
    z-index: 1000;
    font-size: 18.93vw;
    font-family: "SwisspoTrial-CondensedBold";
    line-height: 0.8;
    color: #fff;
    font-weight: 900;
    padding: 60px 2%;
    text-align: center;
}

#section5 .project__title .space {
    text-align: center;
    width: 5vw;
    display: inline-block;
    font-size: 10vw;
}

#section5 .project__title.outline {
    position: absolute;
    z-index: 2000;
    top: 0;
}

#section5 .project__title.outline .front {
    -webkit-text-stroke: 2px #fff;
    -webkit-text-fill-color: transparent;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

#section5 .project__title .textDesc {
    font-size: 1rem;
    color: var(--white);
    display: flex;
    justify-content: space-between;
    padding-top: 1.5%;
    align-items: start;
    text-align: left;
}

#section5 .project__title .textDesc .left {
    width: 16%;
    font-family: "PartizenoRegular";
    font-size: 40px;
    line-height: 1;
    letter-spacing: 2px;
    padding-left: 40px;
    font-weight: normal;
}

#section5 .project__title .textDesc .right {
    width: 28%;
    font-family: "nanumSquareNeo";
    word-break: keep-all;
    line-height: 1.4;
    font-weight: normal;
    padding-right: 2%;
}


#section5 .project__title .textDesc .right strong {
    font-weight: bold;
}

#section5 .project__title .textDesc .right a {
    display: inline-block;
    background-color: #fff;
    margin-top: 10px;
    color: #000;
    font-family: "nanumSquareNeo";
    font-size: 1rem;
    padding: 6px 15px;
    border-radius: 30px;
    pointer-events: auto;
}

#section5 .bgWrap {
    position: relative;
    z-index: 1500;
}

#section5 .bgWrap .bg {
    width: 100%;
    background-color: #1F023C;
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    height: 220vh;
    position: absolute;
}

#section5 .project__img {
    width: 100%;
    display: flex;
    padding-top: 36rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all 0.3s;
    position: relative;
    z-index: 2000;
    pointer-events: none;
}

#section5 .project__img img {
    width: 26vw;
    padding-bottom: 40px;
}

/* =========================== */

#section6 {
    background: #F7901E;
    position: relative;
    height: 260vh;
}

#section6 .project__title {
    position: relative;
    z-index: 1000;
    font-size: 19.23vw;
    font-family: "SwisspoTrial-CondensedBold";
    line-height: 0.8;
    color: #fff;
    font-weight: 900;
    padding: 60px 2%;
    text-align: center;
}

#section6 .project__title .space {
    text-align: center;
    width: 8.1vw;
    display: inline-block;
    font-size: 10vw;
}

#section6 .project__title.outline {
    position: absolute;
    z-index: 2000;
    top: 0;
}

#section6 .project__title.outline .front {
    -webkit-text-stroke: 2px #fff;
    -webkit-text-fill-color: transparent;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

#section6 .project__title .textDesc {
    font-size: 1rem;
    color: var(--white);
    display: flex;
    justify-content: space-between;
    padding-top: 1.5%;
    align-items: start;
    text-align: left;
}

#section6 .project__title .textDesc .left {
    width: 16%;
    font-family: "PartizenoRegular";
    font-size: 40px;
    line-height: 1.1;
    letter-spacing: 2px;
    padding-left: 40px;
    font-weight: normal;
}

#section6 .project__title .textDesc .right {
    width: 28%;
    font-family: "nanumSquareNeo";
    word-break: keep-all;
    line-height: 1.4;
    font-weight: normal;
    padding-right: 2%;
}

#section6 .project__title .textDesc .right a {
    display: inline-block;
    background-color: #fff;
    margin-top: 10px;
    color: #000;
    font-family: "nanumSquareNeo";
    font-size: 1rem;
    padding: 6px 15px;
    border-radius: 30px;
    pointer-events: auto;
}

#section6 .bgWrap {
    position: relative;
    z-index: 1500;
}

#section6 .bgWrap .bg {
    width: 100%;
    background: #F7901E;
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    height: 200vh;
    position: absolute;
}

#section6 .project__img {
    width: 100%;
    display: flex;
    padding-top: 36rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all 0.3s;
    position: relative;
    z-index: 2000;
    pointer-events: none;
}

#section6 .project__img img {
    width: 25vw;
    padding-bottom: 40px;
}

#section7 {
    background: #ed4c87;
    position: relative;
}

#section7 .project__title {
    position: relative;
    z-index: 1000;
    font-size: 20vw;
    font-family: "SwisspoTrial-CondensedBold";
    line-height: 0.8;
    color: #fff;
    font-weight: 900;
    padding: 60px 2%;
    text-align: center;
}

#section7 .project__title .space {
    text-align: center;
    width: 9vw;
    display: inline-block;
    font-size: 10vw;
}

#section7 .project__title.outline {
    position: absolute;
    z-index: 2000;
    top: 0;
}

#section7 .project__title.outline .front {
    -webkit-text-stroke: 2px #fff;
    -webkit-text-fill-color: transparent;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

#section7 .project__title .textDesc {
    font-size: 1rem;
    color: var(--white);
    display: flex;
    justify-content: space-between;
    padding-top: 1.5%;
    align-items: start;
    text-align: left;
}

#section7 .project__title .textDesc .left {
    width: 20%;
    font-family: "PartizenoRegular";
    font-size: 40px;
    line-height: 1.1;
    font-weight: normal;
    letter-spacing: 2px;
    padding-left: 40px;

}

#section7 .project__title .textDesc .right {
    width: 30%;
    padding-right: 2%;
    font-family: "nanumSquareNeo";
    word-break: keep-all;
    line-height: 1.4;
    font-weight: normal;
}

#section7 .project__title .textDesc .right a {
    display: inline-block;
    background-color: #fff;
    margin-top: 10px;
    color: #000;
    font-family: "nanumSquareNeo";
    font-size: 1rem;
    padding: 6px 10px;
    border-radius: 30px;
    pointer-events: auto;
}

#section7 .bgWrap {
    position: relative;
    z-index: 1500;
}

#section7 .bgWrap .bg {
    width: 100%;
    background: #ed4c87;
    padding: 0 5vw;
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    height: 170vh;
    position: absolute;
}

@media (max-width:1000px) {
    #section7 .bgWrap .bg {
        height: 100vh;
    }
}

#section7 .project__img {
    width: 100%;
    display: flex;
    padding-top: 36rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all 0.3s;
    position: relative;
    z-index: 2000;
    pointer-events: none;
}

#section7 .project__img img {
    width: 26vw;
    padding-bottom: 40px;
}

.snapping {
    width: 300%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    background-color: #222;
    color: #fff;
}

.snapping .panel {
    width: 100%;
    height: 100vh;
}

#section8 {
    width: 100%;
    background-color: #222;
    height: 100vh;
    display: flex;
    align-items: center;
    position: relative;
}

.sec5-title {
    width: 700px;
    margin-left: 10vw;
    margin-top: 50px;
    display: flex;
}

.sec5-title .left {
    width: 50%;
    height: 100%;
}

.sec5-title .left .t1 {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 900;
    color: rgb(250, 68, 68);
    font-size: 400px;
    line-height: 0.7;
}

.sec5-title .left .t2 {
    font-size: 145px;
    line-height: 0.8;
    color: #fff;
}

.sec5-title .left .t3 {
    font-size: 145px;
    line-height: 0.8;
    color: #fff;
}

.sec5-title .right .r1 {
    font-size: 145px;
    line-height: 0.8;
    color: #fff;
    font-family: "Bebas Neue", sans-serif;
    text-transform: uppercase;
    margin-top: -30px;
}

.sec5-title .right .r2 {
    font-size: 145px;
    line-height: 0.8;
    font-family: "Bebas Neue", sans-serif;
    text-transform: uppercase;
    margin-bottom: 30px;
    color: #fff;
}

.sec5-title .right .r3 {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 900;
    color: rgb(250, 68, 68);
    font-size: 400px;
    line-height: 0.68;
}

.sec5-title>div span {
    display: block;
    font-family: "Bebas Neue", sans-serif;
}

#section8 .desc {
    position: absolute;
    right: 5%;
    top: 5%;
    width: 45%;
    text-align: right;
    font-family: "nanumSquareNeo";
    color: #d2d2d2;
    word-break: keep-all;
}

#section9 {
    display: flex;
}

#section9 .pl_title {
    width: 20%;
    padding-top: 70vh;
}

#section9 .pl_title h3 {
    text-transform: uppercase;
    line-height: 1;
    font-weight: 100;
    font-size: 30px;
}

#section9 .pl_title h3 strong {
    font-weight: bold;
}

#section9 .pl_title p {
    padding-top: 20px;
    word-break: keep-all;
}

#section9 .pl_img {
    max-width: 600px;
    max-height: 770px;
    margin-left: 20px;
    margin-bottom: 40px;
    position: relative;
}

#section9 .pl_img .img {
    width: 100%;
    height: 100%;
    background-image: url(../img/game1.jpg);
    aspect-ratio: 8/13;
    background-size: cover;
    background-position: center;
}

#section9 .pl_img .pl_img_text {
    text-transform: uppercase;
    font-weight: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    line-height: 1;
    font-size: 20px;
    border-radius: 50%;
    align-items: center;
    background-color: red;
    position: absolute;
    bottom: 20px;
    left: 20px;
    transition: all 0.3s;
}

#section9 .pl_img .pl_img_text:hover {
    background-color: #000;
}

#section9 .pl_img .rotate-text {
    display: inline-block;
    transition: transform 0.3s;
}

#section9 .pl_img .pl_img_text:hover .rotate-text {
    transform: rotate(-360deg);
}

#section9 .pl_img .pl_img_text p {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#section9 .pl_img .pl_img_text strong {
    font-weight: bold;
}

#section9 .pl_title2 {
    width: 24%;
    padding-top: 7vw;
    padding-left: 6vw;
}

#section9 .pl_title2 h3 {
    text-transform: uppercase;
    line-height: 1;
    font-weight: 100;
    font-size: 30px;
}

#section9 .pl_title2 h3 strong {
    font-weight: bold;
}

#section9 .pl_title2 p {
    padding-top: 20px;
    word-break: keep-all;
}

#section9 .pl_img2 {
    max-width: 600px;
    max-height: 770px;
    margin-left: 20px;
    position: relative;
    margin-top: 140px;
}

#section9 .pl_img2:hover {
    background-color: #fff;
}

#section9 .pl_img2 img {
    width: 100%;
    height: 100%;
}

#section9 .pl_img2 .pl_img_text2 {
    text-transform: uppercase;
    font-weight: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    line-height: 1;
    font-size: 20px;
    border-radius: 50%;
    align-items: center;
    background-color: red;
    position: absolute;
    top: 20px;
    left: 20px;
    transition: all 0.3s;
}

#section9 .pl_img2 .pl_img_text2:hover {
    background-color: #000;
}

#section9 .pl_img2 .rotate-text {
    display: inline-block;
    transition: transform 0.3s;
}

#section9 .pl_img2 .pl_img_text2:hover .rotate-text {
    transform: rotate(-360deg);
}

#section9 .pl_img2 .pl_img_text2 p {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#section9 .pl_img2 .pl_img_text2 strong {
    font-weight: bold;
}

#section10 {
    display: flex;
}

#section10 .pl_title {
    width: 24%;
    padding-top: 70vh;
    padding-left: 6vw;
}

#section10 .pl_title h3 {
    text-transform: uppercase;
    line-height: 1;
    font-weight: 100;
    font-size: 30px;
}

#section10 .pl_title h3 strong {
    font-weight: bold;
}

#section10 .pl_title p {
    padding-top: 20px;
    word-break: keep-all;
}

#section10 .pl_img {
    width: 600px;
    height: 760px;
    margin-bottom: 40px;
    position: relative;
}

#section10 .pl_img:hover {
    background-color: #fff;
}

#section10 .pl_img img {
    width: 100%;
    height: 100%;
}

#section10 .pl_img .pl_img_text {
    text-transform: uppercase;
    font-weight: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    line-height: 1;
    font-size: 20px;
    border-radius: 50%;
    align-items: center;
    background-color: red;
    position: absolute;
    bottom: 20px;
    left: 20px;
    transition: all 0.3s;
}

#section10 .pl_img .pl_img_text:hover {
    background-color: #b5f603;
    color: #000;
}

#section10 .pl_img .rotate-text {
    display: inline-block;
    transition: transform 0.3s;
}

#section10 .pl_img .pl_img_text:hover .rotate-text {
    transform: rotate(-360deg);
}

#section10 .pl_img .pl_img_text p {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#section10 .pl_img .pl_img_text strong {
    font-weight: bold;
}

#section11 {
    width: 100%;
    height: 100vh;
    background-color: #222;
    color: #fff;
    padding: 2rem 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#section11 .line {
    width: 100%;
    height: 40px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#section11 .connect {
    width: 50%;
    font-size: 7vw;
    line-height: 0.9;
    text-align: left;
    word-break: keep-all;
    font-family: "SwisspoTrial-CondensedBold";
    padding-top: 2vw;
    flex: 1;
}

#section11 .connect__sns {
    display: flex;
    justify-content: space-between;
    font-family: "nanumSquareNeo";
    align-items: center;
    padding-bottom: 2vw;
    text-align: center;
}

#section11 .connect__sns .mail {
    width: 25%;
    height: 100%;
    padding: 10px 30px;
    border: 1px solid #fff;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "nanumSquareNeo";
    font-weight: bold;
    color: #000;
    background-color: #fff;
    transition: all 0.3s;
}

#section11 .connect__sns .mail i {
    padding-right: 10px;
    font-size: 30px;
}

#section11 .connect__sns .mail:hover,
#section11 .connect__sns .chat:hover {
    background-color: #000;
    color: #fff;
}

#section11 .connect__sns .chat {
    width: 25%;
    height: 100%;
    padding: 10px 30px;
    border: 1px solid #fff;
    border-radius: 30px;
    font-weight: bold;
    color: #000;
    background-color: #fff;
    margin-right: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
}

#section11 .connect__sns .chat i {
    padding-right: 6px;
    font-size: 30px;
}

#section11 .connect__sns .github {
    width: 13%;
    padding: 10px 30px;
    border: 1px solid #fff;
    border-radius: 30px;
}

#section11 .connect__sns .github i {
    font-size: 30px;
}

#section11 .connect__sns .kakao {
    width: 13%;
    padding: 10px 30px;
    border: 1px solid #fff;
    border-radius: 30px;
}

#section11 .connect__sns .kakao i {
    font-size: 30px;
}

#section11 .connect__sns .insta {
    width: 13%;
    padding: 10px 30px;
    border: 1px solid #fff;
    border-radius: 30px;
}

#section11 .connect__sns .insta i {
    font-size: 30px;
}